@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

%form-control-base {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  outline: none;
  background-color: vars.$white;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  &:focus {
    border-color: vars.$pink;
    box-shadow: 0 0 0 2px rgba(vars.$pink, 0.2);
  }
}

.form-layout {
  @include mixins.flex-column(flex-start, stretch, 20px);
}

.form-group {
  @include mixins.flex-column(flex-start, stretch, 8px);
  width: 100%;

  label {
    @include mixins.fonts(vars.$mont-font, 15px, 17px, 600, vars.$dark-grey);
  }

  select,
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @extend %form-control-base;
  }

  select {
    border: 2px solid vars.$border-grey;
    @include mixins.fonts(vars.$mont-font, 13px, 13px, 400, vars.$light-grey);
  }

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid vars.$light-grey;
  }

  textarea {
    resize: vertical; // allow vertical resizing
  }
}

.form-group-checkbox {
  @include mixins.flex-row(flex-start, center, 8px);

  label {
    font-weight: 400;
    cursor: pointer;
    user-select: none;
  }
  input[type="checkbox"] {
    cursor: pointer;
  }
}

.form-row {
  @include mixins.grid(1fr, auto, 20px);

  @include mixins.respond(mobile) {
    grid-template-columns: 1fr 1fr;
  }
}

.error-msg {
  font-size: 12px;
  color: red;
  min-height: 16px;
}

.form-message {
  margin-top: 15px;
  font-weight: bold;
}

// review form specific styles
.review-form-container {
  .review-form-subtitle {
    @include mixins.fonts(vars.$mont-font, 13px, 13px, 400, vars.$black);
    margin-bottom: 20px;
  }
}

.review-form {
  @include mixins.flex-column(flex-start, stretch, 20px);

  // specific styles for direct children
  .form-group,
  .form-group-checkbox {
    // These styles apply only to .form-group and .form-group-checkbox,
    // which are direct descendants of .review-form
    @include mixins.flex-row(flex-start, center, 5px);
    @include mixins.fonts(vars.$mont-font, 15px, 17px, 600, vars.$light-grey);
  }

  .save-review-info {
    @include mixins.fonts(vars.$mont-font, 13px, 13px, 400, vars.$light-grey);
  }
}

.contact-form {
  @include mixins.flex-column(flex-start, start, 20px);
}

.highlighted-span {
  color: vars.$pink;
}
