@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.main {
  @include mixins.flex-column(center, center, 40px);
  margin-top: 50px;
  margin-bottom: 50px;

  @include mixins.respond(tablet) {
    margin-top: 95px;
    margin-bottom: 120px;
    gap: 100px;
  }
}

.section {
  &-header {
    text-align: center;
    margin-bottom: clamp(24px, 5vw, 48px);
  }
  &-title {
    @include mixins.fonts(vars.$mont-font, 30px, 40px, 900, vars.$black);
    @include mixins.respond(tablet) {
      font-size: 40px;
    }
  }

  &-subtitle {
    @include mixins.fonts(vars.$mont-font, 16px, 19px, 400, vars.$dark-grey);
    margin: clamp(8px, 1.5vw, 12px) 0 0;
    @include mixins.respond(tablet) {
      font-size: 19px;
    }
  }
}

.homepage_promo {
  @include mixins.flex-column(center, center, clamp(20px, 8vw, 60px));
  width: 100%;
  position: relative;

  .promo {
    &_intro {
      width: 100%;
      background: vars.$light-color;
    }

    &_heading {
      @include mixins.respond(tablet) {
        background: url("/src/assets/images/homepage/content-hero-bag.png")
          center right / contain no-repeat;
      }

      @include mixins.respond(desktop) {
        background: url("/src/assets/images/homepage/content-hero-bag.png")
          center right / contain no-repeat;
      }
    }
    &_text {
      // margin: 30px 0;
      padding: 40px 0;
      max-width: 640px;
      @include mixins.flex-column(center, flex-start, clamp(20px, 8vw, 30px));

      @include mixins.respond(tablet) {
        margin-top: 40px;
        margin-bottom: 180px;
        padding: 165px 0;
      }

      @include mixins.respond(desktop) {
        padding: 165px 0;

        margin-top: 40px;
        margin-bottom: 200px;
      }
      h1 {
        @include mixins.fonts(vars.$mont-font, 50px, 50px, 900, vars.$black);
      }
      p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 24px;
        max-width: 500px;
      }

      .btn {
        margin-bottom: 32px;
      }
    }

    &_image {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &_details {
      @include mixins.respond(tablet) {
        position: relative;
        top: -175px;
        z-index: 100;
      }
    }
    &_box {
      @include mixins.flex-column(center, stretch, 0);
      box-shadow: 0px 20px 80px rgba(193, 199, 212, 0.702);

      @include mixins.respond(tablet) {
        flex-direction: row;
        align-items: stretch;
      }
    }

    &_profile,
    &_discount {
      flex: 1 1 0;
      min-width: 0;
      box-sizing: border-box;
    }

    &_profile {
      flex: 1;
      padding: clamp(40px, 8vw, 80px) clamp(20px, 6vw, 60px);
      @include mixins.flex-column(center, flex-start, 30px);
      background-color: vars.$white;
    }

    &_avatar {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      figcaption {
        h3 {
          @include mixins.fonts(vars.$mont-font, 20px, 20px, 600, vars.$black);
          margin-bottom: 7px;
        }
        p {
          @include mixins.fonts(vars.$mont-font, 17px, 17px, 400, vars.$black);
        }
      }
    }

    &_quote {
      @include mixins.flex-column(space-between, flex-start, 30px);

      p {
        line-height: 1.6;
      }
    }

    &_discount {
      flex: 1;
      position: relative;

      &-bg {
        background-image: url("/src/assets/images/homepage/hero-right-card-photo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: clamp(80px, 12vw, 180px) clamp(20px, 6vw, 60px);
        min-height: 500px;

        position: relative;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 1;
        }
      }

      &-content {
        position: relative;
        z-index: 2;
        @include mixins.flex-column(center, center, clamp(20px, 5vw, 40px));
        max-width: 600px;
        text-align: center;

        h2,
        p {
          color: vars.$white;
        }

        .btn {
          display: inline-block;
        }
      }
    }
  }
}

/* 1. Carousel */
.carousel {
  position: relative;
  overflow: hidden;

  /* 2. slide list */
  &-list {
    @include mixins.flex-row(flex-start, flex-start, 30px);
    overflow-x: auto; // Enables horizontal scrolling if the content overflows
    scroll-snap-type: x mandatory; // Enables snap scrolling for horizontal scroll
    -webkit-overflow-scrolling: touch; // Enables smooth scrolling on touch devices
    scrollbar-width: none; // Hides the scrollbar for Firefox

    &::-webkit-scrollbar {
      display: none; // Hides the scrollbar for WebKit browsers
    }
  }

  /* 3. Slide as backgroud + overlay + text*/
  &-item {
    // Set the flex property to allow the item to grow and shrink with a base width of 296px
    flex: 0 0 296px;
    // Align the item to the start of the scroll container
    scroll-snap-align: start;
    // Ensure the box model includes padding and border in the element's total width and height
    box-sizing: border-box;
    overflow: hidden;
  }

  &-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 15px 30px rgba(vars.$black, 0.5);
  }

  &-figure {
    position: relative;
    width: 100%;
    padding-top: calc(600 / 296 * 100%); // maintains the height ratio
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0; // Sets the position of the pseudo-element to cover the entire parent element
      background-color: rgba(vars.$black, 0.4);
      transition: background-color 0.3s ease;
    }
    &:hover::before {
      background-color: rgba(
        vars.$black,
        0.2
      ); // making overlay lighter on hover
    }
  }

  &-caption {
    position: absolute;
    top: 378px;
    left: 40px;
    right: 70px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: clamp(8px, 1.5vw, 12px);
    box-sizing: border-box;

    &_title {
      @include mixins.fonts(vars.$mont-font, 19px, 19px, 700, vars.$white);
    }

    &_text {
      @include mixins.fonts(vars.$mont-font, 19px, 19px, 400, vars.$white);
    }
  }

  /* 4. Navigation buttons */
  &-prev,
  &-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: vars.$dark-grey;
    border: none;
    border-radius: 50%;
    @include mixins.flex-row(center, center, 0);
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.1s;

    img {
      filter: brightness(0) invert(1);
    }

    &:hover,
    &:active {
      background: linear-gradient(
        274.43deg,
        vars.$medium-grey -3.28%,
        vars.$pink 132.5%
      );
    }
  }

  &-prev {
    left: clamp(10px, 2vw, 20px);
  }

  &-next {
    right: clamp(10px, 2vw, 20px);
  }
}

.testimonials {
  &-reviews {
    @include mixins.flex-column(center, center, 20px);

    @include mixins.respond(tablet) {
      @include mixins.flex-row(center, center, 20px);
      flex-wrap: wrap;
    }
    @include mixins.respond(desktop) {
      @include mixins.flex-row(space-between, center, 20px);
      flex-wrap: nowrap;
    }
  }

  &-review {
    box-shadow: 0px 20px 80px rgba(193, 199, 212, 0.702);
    @include mixins.flex-column(center, center, 25px);
    padding: clamp(20px, 4vw, 40px);
    text-align: center;
    max-width: 400px;
    img {
      border-radius: 50%;
    }

    p {
      @include mixins.fonts(vars.$mont-font, 17px, 17px, 400, vars.$black);
      line-height: 1.6;
    }

    h3 {
      @include mixins.fonts(vars.$mont-font, 17px, 17px, bold, vars.$pink);
    }
  }
}

.offer {
  background: url("/src/assets/images/homepage/banner.jpg") center/cover
    no-repeat;
  background-size: 650%;
  @include mixins.respond(tablet) {
    @include mixins.flex-row(space-between, center, 0);
    background-size: 150%;
  }

  // overlay
  &-inner {
    width: 100%;
    padding: clamp(24px, 5vw, 48px);
    @include mixins.flex-column(center, center, clamp(24px, 4vw, 40px));
    @include mixins.respond(tablet) {
      @include mixins.flex-row(flex-start, center, clamp(40px, 8vw, 60px));
    }
  }

  // Left block with discount
  &-discount {
    flex-grow: 1;
    text-align: center;
  }

  &-percent {
    @include mixins.fonts(vars.$mont-font, 100px, 236px, 900, vars.$white);
    @include mixins.respond(tablet) {
      @include mixins.fonts(vars.$mont-font, 150px, 236px, 900, vars.$white);
    }
  }

  &-promo {
    @include mixins.fonts(vars.$mont-font, 20px, 20px, 400, vars.$light-color);
    margin: clamp(8px, 2vw, 16px) 0 0;
  }

  // Right block with information
  &-info {
    flex-grow: 1;
    @include mixins.flex-column(center, center, clamp(16px, 2.5vw, 24px));
    padding: clamp(24px, 5vw, 40px);
    @include mixins.respond(tablet) {
      text-align: left;
      align-items: flex-start;
    }

    h2,
    p {
      color: vars.$white;
    }
  }
}
