$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

$black: #000000;
$dark-grey: #504e4a;
$white: #ffffff;
$pink: #b92770;
$light-grey: #727174;
$light-color: #e7e8e9;
$gold: #f5b423;
$medium-grey: #707070;
$border-grey: #e9e9ed;
$copyright-color: rgba(0, 0, 0, 0.35);
$shadow-color: #c1c7d4;

$mont-font: "Montserrat", sans-serif;
$roboto-font: "Roboto", sans-serif;
$copy-benefits-font: "Inter", sans-serif;
$add-to-cart-sf-font: "Source Code Pro", monospace;
