<section class="footer__top">
  <h2 class="footer__headline container">Our Benefits</h2>
  <section class="footer__benefits container">
    <article class="footer__benefit">
      <img src="/src/assets/images/footer/img_3.png" alt="Free Delivery" />
      <p>Velit nisl sodales eget donec quis. volutpat orci.</p>
    </article>
    <article class="footer__benefit">
      <img src="/src/assets/images/footer/img_2.png" alt="24/7 Support" />
      <p>Dolor eu varius. Morbi fermentum velit nisl.</p>
    </article>
    <article class="footer__benefit">
      <img src="/src/assets/images/footer/img_1.png" alt="Money Back Guarantee" />
      <p>Malesuada fames ac ante ipsum primis in faucibus. </p>
    </article>
    <article class="footer__benefit">
      <img src="/src/assets/images/footer/img.png" alt="Secure Payment" />
      <p>Nisl sodales eget donec quis. volutpat orci. </p>
    </article>
  </section>
</section>

<section class="footer__bottom container">
  <section class="footer__columns">
    <section class="footer__left">
      <article class="footer__left-element">
        <h3>About Us</h3>
        <ul>
          <li><a href="#">Organisation</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Clients</a></li>
        </ul>
      </article>

      <article class="footer__left-element">
        <h3>Interesting Links</h3>
        <ul>
          <li><a href="#">Photo Gallery</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </article>

      <article class="footer__left-element">
        <h3>Achievements</h3>
        <ul>
          <li><a href="#">Winning Awards</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Our Amazing Clients</a></li>
        </ul>
      </article>
      <article class="footer__left-element">
        <h3>Shipping Information</h3>
        <p>
          Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh rhoncus varius in
          non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien, vel finibus erat felis sed
          neque. Etiam aliquet neque sagittis erat tincidunt aliquam.
        </p>
      </article>
    </section>


    <article class="footer__right">
      <h3>Contact Us</h3>
      <p>
        Bendum dolor eu varius. Morbi fermentum velitsodales egetonec. volutpat orci. Sed ipsum felis, tristiqueegestas
        et, convallis ac velitn consequat nec luctus.
      </p>
      <ul class="footer__contact">
        <li class="footer__contact-item">
          <img src="/src/assets/images/footer/phone.png" alt="" class="footer__contact-icon" aria-hidden="true" />
          <span class="footer__contact-text">Phone: (+63) 926 2322</span>
        </li>
        <li class="footer__contact-item">
          <img src="/src/assets/images/footer/e-mail.png" alt="" class="footer__contact-icon" aria-hidden="true" />
          <span class="footer__contact-text">
            <a href="mailto:public@news.com">public@news.com</a>
          </span>
        </li>
        <li class="footer__contact-item">
          <img src="/src/assets/images/footer/clock.png" alt="" class="footer__contact-icon" aria-hidden="true" />
          <span class="footer__contact-text">
            Mon – Fri: 10 am – 6 pm<br>
            Sat – Sun: 10 am – 6 pm
          </span>
        </li>
        <li class="footer__contact-item">
          <img src="/src/assets/images/footer/map-pin.png" alt="" class="footer__contact-icon" aria-hidden="true" />
          <span class="footer__contact-text">
            650 Jade Valley,<br>
            Washington DC
          </span>
        </li>
      </ul>
    </article>

  </section>

  <section class="footer__copyright">
    <p>© Copyright 2025</p>
  </section>
</section>